<!-- Navigation -->
<nav class="navbar navbar-default navbar-transparent">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top">HEARTS @ CHI 2026</a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="#submissions">Accepted Submissions</a></li>
          <li><a class="page-scroll" href="#cfp">Call for Participation</a></li>
          <li><a class="page-scroll" href="#team">Organizers</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Hero Header -->
  <header id="hero">
    <div class="hero-overlay">
      <div class="container text-center">
        <h1 class="hero-title"><strong>HEARTS @ CHI 2026</strong></h1>
        <h2 class="hero-subtitle">Human Expertise for AI Red‑Teaming and Scalable Evaluation</h2>
        <p class="hero-date">Barcelona, Spain&nbsp;|&nbsp;2:15-6 CET&nbsp;|&nbsp;April&nbsp;14th,&nbsp;2026</p>
      </div>
    </div>
  </header>
  